@import "tailwindcss";
@source "../internal/web/templates";

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --color-wpx-50: #fafafa;
  --color-wpx-100: #f4f4f5;
  --color-wpx-500: #71717a;
  --color-wpx-600: #27272a;
  --color-wpx-700: #18181b;
}
